@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

article{
    text-align: center;
}

ul{
    color: whitesmoke;
}
.column1, .row1, .row2, .row3 {
    border: 2px solid #2A323C;
    border-radius: 7px;
    background: #1D232A;
    box-shadow: inset 5px 5px 8px #0e1213, inset -5px -5px 8px #222c2f;
}

.newsL{
    text-align: start;
}

/* .gridContent{
    margin: 20px
} */

.buttons{
    display: flex;
    justify-content: space-between;
}

.audioDiv{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}



.audioFile{
    border: 2px solid #646EE4;
    background-color: #646EE4;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

audio::-webkit-media-controls-panel{
    background-color: #646EE4;

}

.ppIcon{
    margin-right: 10px;
}

.ulItem {
    margin-left: -150px;
}

/* .mainDiv{
    font-family: "Open Sans", sans-serif;
} */

.timeGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.navBox{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}