@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.customLabel {
  margin-bottom: -10px;
}

.Load {
  margin-top: 7px;
  margin-left: 46.5%;
  margin-bottom: -5px;
}

.otpBtn{
  height: 20px;
  margin-right: -16px;
}

.resetBox{
  margin-bottom: 20px;
}

.resetBtn{
  margin-left: 32%;
  margin-bottom: 10px;
}

.resetDiv{
  margin-top: -30px;
}

.resetEmail{
  margin-top: -30px;
}

.newPassText{
  margin-bottom: 5px;
}

.otpInput {
  background-color: #1d232a;
  border: 2px solid #646ee4;
  text-align: center;
  border-radius: 4px;
}

.selectBox{
  margin-top: 3px;
}

.customAlert {
  padding-left: 38%;
}

.timeBox{
  margin-left: 1px;
}

.alertText {
  margin-top: 5px;
  margin-bottom: -24px;
  text-align: center;
}

.custoText{
  margin-bottom: -20px;
}

.verifyBtn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.otpBox {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10px;
}

.showBtn {
  margin: -17px;
}

.showIcon {
  width: 40px;
  height: 40px;
}

.Load1{
  margin-left: 46.5%;
  margin-top: -5px;
  margin-bottom: 30px;
}

.showImg {
  height: 25px;
  width: 25px;
}
/* Hide the default appearance of the time input */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.searchBox {
  margin-bottom: 10px;
}
.contBtn {
  margin-bottom: 30px;
}

.userBox {
  background-color: #646ee4;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.loadBut{
   margin-left: 20px;
}

.removeBtn {
  background: none;
  border: none;
  color: black;
  margin-left: 4px;
  margin-top: -2px;
  cursor: pointer;
}

.searchBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.input {
  flex: 1;
  min-width: 100px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown-content {
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
}

.userInput {
  padding: 10px;
  width: 320px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  /* font-family: "Open Sans", sans-serif; */
}

.cross{
  margin-top: 3px;
  margin-right: -4px;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.forgetLink {
  text-align: center;
}

.xLogo {
  width: 15px;
}

.addAllBtn{
  width: 49%;
  margin-right: 7px;
}


.removeAllBtn{
  width: 49%;
}

p {
  text-align: center;
  padding-bottom: 20px;
}

.headText {
  justify-content: center;
  margin-bottom: -30px;
}
